.line--hr{
	font-weight: 100%;
}

.audio{
	margin-left: 43%;
	margin-bottom: 25px;
}

.home--page{
	margin-top: 1%;
	margin-left: 4%;
}

.pog{
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	border: 4px solid black;
	padding: 4px;
	padding-right: 30px;
}

.monke{
	margin-top: 20px;
	width: 100%;
	border: 4px solid black;
	padding: 4px;
	padding-right: 30px;
}

.champ{
	width: 100%;
	border: 4px solid black;
	padding: 4px;
	padding-right: 30px;
	border-top: 2px;
}
.container{
	max-width: 100%;
	padding: 0px 15px;
	margin: 1px;
}
@media (max-width:1295.5px){
	.container{
		max-width: 1065.5px;
	}
}
@media (max-width:1087.5px){
	.container{
		max-width: 845.5px;
	}
}
@media (max-width:862.5px){
	.container{
		max-width: 642.5px;
	}
}
@media (max-width: 642.5px){
	.container{
		max-width: 520.5px;
	}
}
@media (max-width:422.5px){
	.container{
		max-width: 380.5px;
	}
}
@media (max-width:360.5px){
	.container{
		max-width: 290.5px;
	}
}
@media (max-width:310.5px){
	.container{
		max-width: 210.5px;
	}
}

@media (max-width:202.5px){
	.container{
		max-width: none;
	}
}
.flexible-audio{
	max-width: 100%;
}